<html>
    <head>
        <title>Aparna's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">My first Blog</a></h1>
        </div>

        <div>
            <p>published: 08.07.2016, 15:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post.I learned this from Django girls.</p>
        </div>

        <div>
            <p>published: 08.07.2016, 15:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Hey its me Aparna.I'm the owner of this blog.</p>
        </div>
    </body>
</html>